<div class="login-form">
  <form>
    <img id="Logo" src="/img/Logo/Quick-Buy-logo.png" />

    <br />
    <br />

    <div class="form-group">
      <label class="sr-only" for="Email">Email</label>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-envelope"></i>
          </div>
        </div>

        <input type="email" id="Email" class="form-control" name="email" placeholder="Email" [(ngModel)]="email" required />
      </div>
    </div>

    <div class="form-group">
      <label class="sr-only" for="Password">Password</label>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-unlock"></i>
          </div>
        </div>

        <input type="password" id="Password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" required />
      </div>
    </div>

    <br />

    <div class="form-group">
      <button type="submit" id="Login" class="btn btn-primary btn-lg btn-block" name="login" (click)="signIn()">ENTER</button>
    </div>
  </form>
</div>
