<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>
        <img id="Logo" width="30" height="30" class="d-inline-block align-top" src="/img/Texture-Default.png" alt="" />
        Quick Buy
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-light" [routerLink]='["/"]'>Home</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isAuthorizedUser()">
            <a class="nav-link text-light" [routerLink]='["/product"]'>Product</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isAuthorizedUser()">
            <a class="nav-link text-light" [routerLink]='["/register"]'>Register</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!isAuthorizedUser()">
            <a class="nav-link text-light" [routerLink]='["/login"]'>Login</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isAuthorizedUser()">
            <a class="nav-item nav-link text-light" [routerLink]='["/sair"]' (click)="SignOut()">SignOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
